body {
    font-family: Arial, sans-serif;
    background-color: #ef85cd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.cart {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: end;
}

.cart img {
    width: 30px;
    height: 30px;
}

#cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.products, .cart-container {
    width: 25%;
}

.product, .cart-item {
    background-color: white;
    border: 1px solid #120404;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.product img {
    width: 50%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-details, .cart-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.cart-total {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: right;
}
